---
- name: setup_prepare | Overwrite SonarQube download url
  ansible.builtin.set_fact:
    sonar_download_url: "{{ __sonar_download_url }}"
  when: sonar_download_url is not defined

- name: setup_prepare | Overwrite SonarQube plugin base url
  ansible.builtin.set_fact:
    sonar_plugin_baseurl: "{{ __sonar_plugin_baseurl }}"
  when: sonar_plugin_baseurl is not defined

- name: setup_prepare | Overwrite SonarQube commercial plugin base url
  ansible.builtin.set_fact:
    sonar_commercial_plugin_baseurl: "{{ __sonar_commercial_plugin_baseurl }}"
  when: sonar_commercial_plugin_baseurl is not defined
